body {
  font-family: Arial;
  background: #eaf2ff;
  margin: 0;
}

.topbar {
  background: linear-gradient(#4aa3ff, #1f6fd6);
  color: white;
  padding: 10px;
}

input, button {
  margin: 5px;
  padding: 6px;
}

.game {
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
